<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/contact.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/script.js" defer></script>
 <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="css/img/fitness-high-resolution-logo-color-on-transparent-background.png" type="image/svg+xml">
  <title>Fitnation - contact</title>
</head>

<body>
  {{>navbar}}
  <div class="container-2">
    <div class="contact-box">
      <div class="left"></div>
      <div class="right">
        <h2>Contact Us</h2>


        </button>
        <form action="https://formspree.io/f/xlevvgol" id="Contact-form" method="POST">
          <input type="text" class="field" name="name" placeholder="Your Name" required />
          <input type="email" class="field" name="email" placeholder="Your Email" required />
          <input type="text" class="field" name="phone-number" placeholder="Phone" required />
          <textarea placeholder="Message" name="message" class="field" required></textarea>
          <button class="btn-contact" id="btn-send" type="submit">
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
  {{>footer}}
  <!-- ionion icon -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>