<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="shortcut icon" type="image/png" href="css/img/icon.png" />

  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="css/mappy.css" />

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
  <script defer src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>


  <title>mappy // Map your workouts</title>
</head>

<body>
  <div class="sidebar">
    <a href="/index" style="margin-left: 26vh;"> <img src="css/img/icon.png" alt="Logo" class="logo"/></a>
    
    <p style="text-align: center; margin-top: -36px;">By-Fitnation</p>

    <ul class="workouts" style="margin-top: 21px;">
      <form class="form hidden" action="/mappy" method="post">
        <div class="form__row">
          <label class="form__label">Type</label>
          <select class="form__input form__input--type">
            <option value="running">Running</option>
            <option value="cycling">Cycling</option>
          </select>
        </div>
        <div class="form__row">
          <label class="form__label">Distance</label>
          <input class="form__input form__input--distance" name="distance" placeholder="km" />
        </div>
        <div class="form__row">
          <label class="form__label">Duration</label>
          <input class="form__input form__input--duration" placeholder="min" name="duration"  />
        </div>
        <div class="form__row">
          <label class="form__label">Cadence</label>
          <input class="form__input form__input--cadence" placeholder="step/min" name="cadence"  />
        </div>
        <div class="form__row form__row--hidden">
          <label class="form__label">Elev Gain</label>
          <input class="form__input form__input--elevation" placeholder="meters" name="elevgain" />
        </div>
        {{!-- <label class="form__label">latitude</label> --}}
        <input id="x" class="hidden-inputs" name="latitude" />
        {{!-- <label class="form__label">longitude</label> --}}
        <input id="y" class="hidden-inputs" name="longitude" />
        {{!-- <label class="form__label">identity</label> --}}
        <input id="identity" class="hidden-inputs" name="identity" />
        {{!-- <label class="form__label">date</label> --}}
        <input id="day" class="hidden-inputs" name="date" />
        {{!-- <label class="form__label">month</label> --}}
        <input id="month" class="hidden-inputs" name="month" />
        <input id="types" class="hidden-inputs" name="type" />
        <button class="form__btn">OK</button>
      </form>


    </ul>

    <p class="copyright">
      &copy; Copyright by
      <a>ISHU SINGH</a>. Use for learning or your portfolio.
    </p>
  </div>

  <div id="map"></div>
</body>
<script defer src="js/mappy.js"></script>

</html>